<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :autor %>
    <%= form.text_field :autor %>
  </div>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.number_field :isbn %>
  </div>

  <div class="field">
    <%= form.label :editorial %>
    <%= form.text_field :editorial %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, [nil]+Category.all.map(&:name) %>
  </div>
  <p><a href="<%= new_category_path%>">Añade una categoría</a><br /></p>


  <div class="actions" onSubmit="alert('El libro ha sido creado');">
    <%= form.submit %>
  </div>
<% end %>
