<link href="https://fonts.googleapis.com/css?family=Arvo:400,700&display=swap" rel="stylesheet">

<p>
  <strong>Título:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @book.editorial %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @book.category_id %>
</p>

<%= link_to 'Editar', edit_book_path(@book) %> |
<%= link_to 'Atrás', books_path %>
