<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="container">
  <div class="abs-center">
    <div class="form-group align-items-center">
        <div class="form-group col-md-3">
          <%= f.label :rut %>
          <%= f.text_field :rut, autocomplete: "rut" %>
        </div>

          <div class="form-group col-md-3">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

        <div class="form-group col-md-3">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group col-md-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions form-group">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
