<%= form_with(model: guide) do |form| %>
  <% if guide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guide.errors.count, "error") %> prohibited this guide from being saved:</h2>

      <ul>
      <% guide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :editorial_id %>
    <%= form.select :editorial_id, [nil]+Editorial.all.map(&:business_name) %>
  </div>

  <div class="field">
    <%= form.label :number_of_guide %>
    <%= form.text_field :number_of_guide %>
  </div>

  <div id="formulario">
            <form method="post" id="formdata">
                <label for="isbn">ISBN </label><input type="text" name="isbn" id="isbn" required="required"></br>
                <label for="title">Título </label><input type="text" name="title" id="title" required="required"></br>
                <label for="quantity">Cantidad </label><input type="text" name="quantity" id="quantity" required="required"></br>
                <label for="pneto">Precio neto </label><input type="text" name="pneto" id="pneto" required="required"></br>
                <label for="pvp">PVP </label><input type="text" name="pvp" id="pvp" required="required"></br>
                <input type="button" id="botonenviar" value="Enviar">
            </form>
        </div>
        <div id="exito" style="display:none">
            Sus datos han sido recibidos con éxito.
        </div>
        <div id="fracaso" style="display:none">
            Se ha producido un error durante el envío de datos.
        </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
