<%= form_with(model: guide, local: true) do |form| %>
  <% if guide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guide.errors.count, "error") %> prohibited this guide from being saved:</h2>

      <ul>
      <% guide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :editorial_id %>
    <%= form.select :editorial_id, Editorial.all.map{|e| [e.business_name, e.id]},{ include_blank: true } %>
  </div>

  <div class="field">
    <%= form.label :number_of_guide %>
    <%= form.text_field :number_of_guide %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
