<link href="https://fonts.googleapis.com/css?family=Arvo:400,700&display=swap" rel="stylesheet">

<p id="notice"><%= notice %></p>

<h1>Guías de despacho</h1>

<table>
  <thead>
    <tr>
      <th>Editorial</th>
      <th>Número de guía</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guides.each do |guide| %>
      <tr>
        <td><%= guide.editorial_id %></td>
        <td><%= guide.number_of_guide %></td>
        <td><%= link_to 'Mostrar', guide %></td>
        <td><%= link_to 'Editar', edit_guide_path(guide) %></td>
        <td><%= link_to 'Destruir', guide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '¿Nueva guía?', new_guide_path %>
