<p id="notice"><%= notice %></p>

<p>
  <strong>Razón social:</strong>
  <%= @editorial.business_name %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @editorial.rut %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @editorial.address %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @editorial.contact %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @editorial.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @editorial.email %>
</p>

<%= link_to 'Edit', edit_editorial_path(@editorial) %> |
<%= link_to 'Back', editorials_path %>
